.fullHeight {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  margin: auto;
  border: 10px solid #eaf0f6;
  border-radius: 50%;
  border-top: 10px solid #180775;
  width: 100px;
  height: 100px;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
