@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,700;1,800&display=swap");

.mainContainer {
  margin: 0%;
  padding: 0%;
  width: 100%;
  min-height: 100vh;
  background-image: url("./images/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.mainInContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.addRecContain {
  padding: 0px 0px 20px 0px;
  transition: all 1s ease-in;
  animation: both 1s ease-in-out;
}
.mainText {
  margin: 20px;
  width: 100%;
  color: #e8ffc2;
  text-align: center;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.mainTextHead {
  font-size: 72px !important;
}
.mainTextSub {
  font-weight: 600;
}

.scoreText {
  font-size: 160px;
  color: #e8ffc2;
  font-family: "Passion One";
  font-style: normal;
  font-weight: 400;
  color: #e8ffc2;
}
.join {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "poppins", sans-serif;
  justify-content: space-evenly;
}
.joinText {
  padding-bottom: 30px;
  font-size: 56px;
  color: #e8ffc2;
  font-weight: 600;
}
.joinButton {
  border: 3px solid #061547;
  border-radius: 10px;
  background-color: #061547;
  color: #e8ffc2;
  padding: 15px 30px;
  width: fit-content;
}
.joinButton:hover {
  background-color: #e8ffc2;
  color: #061547;
}
@media only screen and (max-width: 600px) {
  .mainText {
    font-size: 51px;
  }
  .mainTextHead {
    font-size: 48px !important;
  }
  .mainTextSub {
    font-size: 24px !important;
  }
  .scoreText {
    font-size: 180px;
  }
  .joinText {
    font-size: 24px;
  }
}
